.header__lang-link {
  text-decoration: none;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 720px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
