.place__title {
  margin: 0;
  grid-area: title;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 960px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}
@media screen and (max-width: 720px){
  .place__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 16px 0;
  }
}
