@import url(__item/photo-grid__item.css);
@import url(__image/photo-grid__image.css);


.photo-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  margin: 0;
}

@media screen and (max-width: 1180px){
  .photo-grid {
    max-width: 928px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 14px;
    margin: 0 auto 0;
  }
}

@media screen and (max-width: 960px){
  .photo-grid {
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    margin: 0 24px 0;
  }
}

@media screen and (max-width: 720px){
  .photo-grid {
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 12px;
    margin: 0 16px 0;
  }
}
