.places {
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 960px){
  .places{
    max-width: 720px;
  }
}

@media screen and (max-width: 720px){
  .places{
    margin-left: 0;
    margin-right: 0;
  }
}
