@import url(__lang-link/header__lang-link.css);
@import url(__lang-link/_active/header__lang-link_active.css);
@import url(__lang-links/header__lang-links.css);
@import url(__lang-list-item/__lang-list-item.css);

.header {
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  max-width: 984px;
}

@media screen and (max-width: 1180px){
  .header {
    max-width: 928px;
  }
}

@media screen and (max-width: 960px){
  .header{
    margin-left: 24px;
    margin-right: 24px;
    max-width: 720px;

  }
}

@media screen and (max-width: 720px){
  .header {
    margin-left: 16px;
    margin-right: 16px;
    max-width: 288px;

  }
}
