.place__paragraph {
  margin: 0 0 25px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  display: block;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 960px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 25px;
  }
  .place__paragraph:last-child {
    margin-bottom: 0;
  }
}
