.place__paragraph {
  margin: 0 0 25px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  display: block;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 960px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}
@media screen and (max-width: 720px){
  .place__paragraph {
    max-width: 288px;
    margin-left: auto;
    margin-right: auto;
  }
}
