.intro__text {
  max-width: 690px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin: 32px 0 33px;
}

.intro__text:first-of-type {
  font-size: 24px;
  line-height: 34px;
  margin: 40px 0 32px;
}

@media screen and (max-width: 960px){
  .intro__text {
    max-width: 720px;
  }
}
@media screen and (max-width: 720px){
  .intro__text {
    max-width: 288px;
  }
}

