.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #fffdfd;
  text-decoration: none;
  margin: 0;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 720px){
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}
