.lead__figure {
  max-width: 984px;
  max-height: 615px;
  margin: 64px auto 0;
}

@media screen and (max-width: 1180px){
  .lead__figure {
    margin-top: 56px;
  }
}

@media screen and (max-width: 960px){
  .lead__figure {
    max-width: 768px;
  }
}

@media screen and (max-width: 720px){
  .lead__figure {
    margin-top: 40px;
  }
}
