@import url(__image/place__image.css);
@import url(__paragraph/place__paragraph.css);
@import url(__text/place__text.css);
@import url(__title/place__title.css);
@import url(__website/place__website.css);
@import url(__website-link/place__website-link.css);
@import url(__website-heading/place__website-heading.css);

.place {
  font-family: 'Inter', Arial, sans-serif;
  margin: 80px 0 0;
  display: grid;
  grid-template-columns: 460px 484px;
  box-sizing: border-box;
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  grid-template-areas:
      "title website"
      "title website"
      "image text"
      "image text"
      "image text";
}

.place:first-child {
  margin-top: 92px;
}

.place:last-child {
  margin-bottom: 92px;
}

@media screen and (max-width: 1180px){
  .place {
    grid-template-columns: 440px 456px;
    grid-column-gap: 32px;
  }
}

@media screen and (max-width: 960px){
  .place {
    max-width: 720px;
    margin: 73px auto 0;
    grid-template-columns: 340px 352px;
    box-sizing: border-box;
    grid-column-gap: 28px;
  }
  .place:first-child {
    margin-top: 88px;
  }
  .place:last-child {
    margin-bottom: 89px;
  }
}

@media screen and (max-width: 720px){
  .place {
    width: 100%;
    margin: 49px auto 0;
    display: block;
  }
  .place:first-child {
    margin-top: 64px;
  }
  .place:last-child {
    margin-bottom: 65px;
  }
}
