@import url(__list/footer__list.css);
@import url(__link/footer__link.css);
@import url(__copyright/footer__copyright.css);
@import url(__list-item/footer__list-item.css);

.footer {
  font-family: 'Inter', Arial, sans-serif;
  margin: 92px auto 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1184px;
}

@media screen and (max-width: 1180px){
  .footer {
    max-width: 928px;
    margin-right: 48px;
    margin-left: 48px;
  }
}

@media screen and (max-width: 960px){
  .footer{
    max-width: 720px;
    margin-right: 24px;
    margin-left: 24px;
  }
}

@media screen and (max-width: 720px){
  .footer {
    margin: 64px 16px 24px;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }
}
