@import url(__list/footer__list.css);
@import url(__link/footer__link.css);
@import url(__copyright/footer__copyright.css);

.footer {
  margin: 92px auto 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 18px;
}
