@import url(_link/place__website_link.css);
@import url(_url-heading/place__website_url-heading.css);

.place__website {
  grid-area: website;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
